body {
    background-color: var(--text-base-dark);
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
    margin-bottom: 10px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 6px;
    margin-top: 10px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}

.library__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.library__button {
    display: flex;
    border: none;
    background: #121212;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    margin-right: 10px;
}

.library__button .fa {
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
    padding-right: 8px;
}

.library__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 8px;
}

.section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    color: var(--text-base-light);
    padding-bottom: 14px;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__button {
    display: flex;
    justify-content: center;
    background: var(--text-base-light);
    color: var(--text-base-dark);
    border-radius: 20px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    margin-top: 12px;
    padding: 10px;
    width: 113px;
}

.cookies {
    margin: 25px 20px;
}

.cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.cookies a:hover {
    text-decoration: underline;
}

.languages button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    color: var(--text-base-light);
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    width: 170px;
    margin: 8px;
    padding: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg,#af2896,#509bf5);
    padding: 15px 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.footer-content__title {
    color: var(--text-base-light);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer_content__subtitle {
    color: var(--text-base-light);
    font-size: 14px;
    font-weight: 500;
}

.footer-content__button button {
    background-color: var(--text-base-light);
    color: var(--text-base-dark);
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}